.cta-container {
	margin: 10rem auto 10rem;
	width: 95%;
	display: flex;
	background-color: #000;
	padding: 0.7rem 0.7rem;
	border-radius: 5rem;
}

.form-container {
	width: 70%;
	background: hsl(216, 31%, 77%);
	border-top-left-radius: 5rem;
	border-bottom-left-radius: 5rem;
	/* border-radius: 5rem; */
	padding: 2rem;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	/* background-color: pink; */
}

.cta-text {
	color: var(--text-color);
	font-size: var(--fs-sm);
	text-align: center;
	/* background-color: red; */
}

.cta-text p {
	font-weight: var(--fw-reg);
	width: 60%;
	margin: 0 auto;
}

.cta-text p:nth-of-type(1) {
	margin-top: 3rem;
}

.cta-image {
	width: 50%;
	overflow: hidden;
	border-radius: 4rem;
}

.cta-image img {
	max-width: 150%;
	transform: translateX(-18rem) translateY(4rem);
	z-index: -0;
}

/* form styles */
.btn-cta {
	font-size: var(--fs-sm);
	font-weight: var(--fw-lg);
	margin-top: 1.5rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 0.7rem;
	background-color: var(--secondary-color);
	color: var(--text-color);
	cursor: pointer;
}

.btn-cta:hover {
	color: var(--text-color-light);
	opacity: 0.8;
	transition: ease-in 0.2s;
	border: 1px solid var(--text-color-light);
	transform: scale(1.07);
}

.btn-cta:active {
	transform: scale(0.7);
}

.form {
	display: flex;
	justify-content: center;
}

.form label {
	/* display: block; */
	font-size: var(--fs-sm);
	font-weight: var(--fw-reg);
}

.form input {
	font-size: var(--fs-sm);
	width: 100%;
	padding: 1rem;
	border-radius: 1.5rem;
	border: 0.5rem solid var(--secondary-color);
}

.form input:focus {
	outline: var(--secondary-color) solid 0.2rem;
}
