.cta-container {
	margin: 10rem 0 0;
	width: 100%;
	display: flex;
	background-color: #000;
	padding: 0.7rem 0.7rem;
}

.form {
	width: 60%;
	background-color: var(--primary-color);
	padding: 3rem;
	z-index: 10;
}

.cta-image {
	width: 40%;
	overflow: hidden;
}

.cta-image img {
	max-width: 150%;
	transform: translateX(-18rem) translateY(4rem);
	z-index: -0;
}
