.partners-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 1rem;
}

.profile {
	width: 50%;
	align-items: center;
	/* background-color: blue; */
	padding: 3rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

/*Trying to add a flip to the image here*/

.profile-img {
	position: relative;
}

.back {
	transform: rotatey(90deg);
	transition: all ease-in 0.2s;
	position: absolute;
}

.flipped .back {
	transform: rotateY(0deg);
	transition-delay: 0.2s;
}

.front {
	transition: all ease-in 0.2s;
	transition-delay: 0.2s;
}

.flipped .front {
	transform: rotatey(90deg);
	transition-delay: 0s;
}

/* End of the flip classes*/

.profile-img img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.back-content {
	border-radius: 50%;
	background-color: var(--primary-color);
	width: 100%;
	height: 100%;
}

.back-content p,
li {
	margin-top: 2.5rem;
	font-size: var(--fs-sm);
	display: flex;
	justify-content: center;
}

.name {
	text-align: right;
	font-weight: var(--fw-md);
	font-size: var(--fs-reg);
}

.job {
	font-weight: var(--fw-md);
	font-size: var(--fs-sm);
	font-style: italic;
}
