@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* variables */
:root {
	--heading-color: #4a91a1;
	--text-color: #23262b;
	--text-color-light: #fff;
	--primary-color: #b1c0d6;
	--secondary-color: #4a91a1;
	--highlight-color: #96bcc4;
	--bg-color: #f4f4f4;
	--bg-secondary-color: #d6d6d6;

	--margin-sm: 1rem;
	--margin-md: 2.5rem;
	--margin-lg: 4rem;

	--fw-sm: 300;
	--fw-md: 400;
	--fw-reg: 500;
	--fw-lg: 700;

	--fs-sm: 2rem;
	--fs-reg: 3.2rem;
	--fs-md: 4rem;
	--fs-lg: 6.4rem;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	color: var(--text-color);
}

/* base styles */
body {
	font-family: Montserrat, sans-serif;
	margin: 0;
	background: var(--bg-color);
}

/* Utility */
.btn {
	font-size: var(--fs-sm);
	padding: 1rem;
	border: none;
	border-radius: 0.7rem;
	background-color: var(--primary-color);
	color: var(--text-color);
	cursor: pointer;
}

.btn:hover,
.btn:active {
	color: var(--text-color-light);
	background-color: var(--secondary-color);
	opacity: 0.8;
	transition: ease-in 0.2s;
	border: 1px solid var(--primary-color);
}
